<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="./vendor/autoload.php"
         backupGlobals               = "false"
         colors                      = "true"
>
    <php>
        <ini name="xdebug.max_nesting_level" value="200" />
    </php>

    <testsuites>
        <testsuite name="InfiniteValidationBundle">
            <directory>./Tests</directory>
        </testsuite>
    </testsuites>

    <coverage>
        <include>
            <directory>./</directory>
        </include>
        <exclude>
            <directory>vendor</directory>
            <directory>Tests</directory>
        </exclude>
    </coverage>
</phpunit>
